<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MySettings" type="System.Configuration.NameValueSectionHandler" />
		<section name="PDMini" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!--    <add key="DBS便携电源" value="Configs\ProductConfig\OutDoorPower\DBS1300_Config.xls"/>
		<add key="DBS便携电源Mini" value="Configs\ProductConfig\OutDoorPower\DBS600Mini_Config.xls"/>
		<add key="自研MPPT" value="Configs\ProductConfig\OutDoorPower\MPPT_Config.xls"/>
    <add key="行车快充" value="Configs\ProductConfig\OutDoorPower\DBSCarCharge.xls"/>
    <add key="DBS2300(海索)" value="Configs\ProductConfig\OutDoorPower\DBS2300_HS_Config.xls"/>
		<add key="DBS2300(图为)" value="Configs\ProductConfig\OutDoorPower\DBS2300_TW_Config.xls"/>  
		<add key="智能配电箱" value="Configs\ProductConfig\OutDoorPower\DBSSmartBox_Config.xls"/>
		<add key="MySTM32" value="Configs\ProductConfig\OutDoorPower\DBSElectricmeter_Config.xls"/>
		<add key="DBS-PCS" value="Configs\ProductConfig\HomePower\PCS_P3600HS_Config.xls"/>
		<add key="DBS-PCS(透传)" value="Configs\ProductConfig\HomePower\PCS_P3600HS_touchuan_Config.xls"/>  -->
    <add key="MySTM32" value="Configs\ProductConfig\OutDoorPower\DBSElectricmeter_Config.xls"/>

  </appSettings>	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Configs\\Libs"/>
    </assemblyBinding>
  </runtime>
	<MySettings>
		<add key="IsDiretorUpVisiable" value="0" />
		<add key ="T120"  value ="PD、DC、SGR12KW、BMS、BMS_MB1、BMS_MB2、充电枪" />
		<add key ="P12"   value ="PD、DC、INV、BMS、BMS_MB1、BMS_MB2" />
		<add key ="P10"   value ="PD、DC、INV、BMS、BMS_MB1、BMS_MB2、加电包1_MPPT、加电包2_MPPT" />
		<add key ="P14"   value ="PD、DC、INV、BMS、BMS_MB1、BMS_MB2、加电包1_MPPT、加电包2_MPPT" />
		<add key ="P21"   value ="PD、DC、INV、BMS、BMS_MB1、BMS_MB2、加电包1_MPPT、加电包2_MPPT" />
		<add key ="P36S"  value ="PD、DC、DCDC、INV、BMS、BMS_MB1、BMS_MB2、充电枪" />
		<add key ="P36D"  value ="PD、DC、DCDC_DBS、INV、BMS、BMS_MB1、BMS_MB2、充电枪" />
		<add key ="T36"   value ="PD、DC、SGR、BMS、BMS_MB1、BMS_MB2、BMS_MB3、充电枪" />
	</MySettings>

	<PDMini>
		<add key ="P06"  value ="PD、DC、MPPT、INV_XZ、BMS" />
		<add key ="P10"  value ="PD、DC、MPPT、INV_XZ、BMS" />
		<add key ="P20"  value ="PD、DC、MPPT、INV_MEGMEET、BMS" />
		<add key ="P30"  value ="PD、DC、MPPT、INV_MEGMEET、BMS" />
	</PDMini>
	
</configuration>


